doctype html
html
  head
    title TEMP
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/react/react.min.js')
    script(src='/libs/react/react-dom.min.js')
    script(src='/libs/babel/browser.min.js')
    script(src='/libs/moment/min/moment.min.js')
    script(type='text/babel', src='javascripts/client.js')
