body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 300px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

a {
  color: #00B7FF;
}

h1 {
  margin-left:5%;
}
